$width-card: 340px;
$height-card: 0.64 * $width-card;

.card-container {
    position: relative;

    perspective: 500px;
}

.card {
    width: $width-card;
    height: $height-card;

    border-radius: 12px;

    transform-origin: center center;
    transform-style: preserve-3d;

    animation: 
        flip-card-hero 12s linear infinite alternate,
        change-card-background 12s ease infinite alternate;

}

.icon-card {
    position: absolute;
    top: 0rem;
    z-index: 99;
    animation: icons-hero 8s 0.5s linear infinite alternate;
}

.icon-mobile {
    position: absolute;
    top: 50%;
    left: -250px;
    z-index: 99;
    animation: icons-hero 8s 1s linear infinite alternate;

    @include responsive(small) {
        top: 90%;
        left: -12rem;
    }
}

.icon-contactless {
    position: absolute;
    bottom: -2rem;
    left: 20%;
    z-index: 99;
    animation: icons-hero 8s 1.5s linear infinite alternate;

    @include responsive(small) {
        bottom: 0;
        left: 8rem;
    }
}

@keyframes flip-card-hero {
    0%{
        transform: rotateX(-10deg) rotateY(20deg) rotateZ(-10deg);
;    }
    40%{
        transform: rotateX(0deg) rotateY(20deg);
    }
    60% {
        transform: rotateX(180deg) rotateY(20deg);
    }
    100% {
        transform: rotateX(190deg) rotateY(10deg) rotateZ(10deg);
    }
}

@keyframes change-card-background {
    0%,49% {
        background: url('../svg/card-front.svg');
        background-size: cover;
    }
    50%,100% {
        background: url('../svg/card-back.svg');
        background-size: cover;
    }
}

@keyframes icons-hero {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(10px, -40px);
    }
}

.background-home {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -1;

    overflow: hidden;

    &>svg {
        width: 120%;

        @include responsive(small){
            width: 100%;
        }

        @include responsive(extra-large){
            width: 100%;
        }
    }
}

.bg-home-rect1 {
    animation: background-hero 6s ease infinite alternate;
}

.bg-home-rect2 {
    animation: background-hero 6s ease .5s infinite alternate;
}

.bg-home-rect3 {
    animation: background-hero 6s ease 1s infinite alternate;
}

.bg-home-rect4 {
    animation: background-hero 6s ease 1.5s infinite alternate;
}

.bg-home-blur1 {
    transform: translate3d(0, -100px, 0);
}

.bg-home-blur1 {
    transform: translate3d(0, -150px, 0);
}

@keyframes background-hero {
    0%{
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 50px, 0);
    }
}

.people1{
    opacity: 0;
    animation: people 10s ease 0s infinite;
}

.people2{
    opacity: 0;
    animation: people 10s ease 5s infinite;
}

.people3{
    opacity: 0;
    animation: people 10s ease 0s infinite;
}

.people4{
    opacity: 0;
    animation: people 10s ease 2s infinite;
}

.people5{
    opacity: 0;
    animation: people 10s ease 3s infinite;
}

.people6{
    opacity: 0;
    animation: people 10s ease 1s infinite;
}

@keyframes people {
    0% {
        opacity: 0;
    }
    20%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}