header {
    width: 100%;
    height: 4rem;
    
    background-color: transparent;
    position: fixed;
    z-index: 99;

    transition: .5s ease;

    .header-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1rem 2rem;
        margin: 0 auto;

        max-width: $container-extra-large;

        @include responsive(small){
            display: none;
        }

        .header-right{
            display: flex;

            .logo {
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;
            }

            .links{
                display: flex;

                .link-1,
                .link-2,
                .link-3{
                    list-style: none;
                    position: relative;

                    margin-left: 1rem;

                    a {
                        display: inline-block;
                        padding: .8rem 1rem;
                    }

                    &::after {
                        content: "";
                        width: .5rem;
                        height: .5rem;
                        
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: rotate(45deg) translateY(-50%);

                        border-bottom: 2px solid $primary-normal;
                        border-right: 2px solid $primary-normal;
                        border-radius: 1px;
                    }

                    .dropdown-links{
                        opacity: 0;
                        pointer-events: none;
                        position: absolute;
                        background-color: $white-light;
                        box-shadow: 
                            0px 51px 80px rgba(169, 80, 196, 0.08), 
                            0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 
                            0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 
                            0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
                        border-radius: 1rem;
                        padding: 1rem;
                        list-style: none;

                        transition: all .5s ease;

                        left: 0;
                        top: 120%;

                        &::before{
                            content: '';
                            width: 20px;
                            height: 20px;
                            background-color: $white-light;
                            display: flex;
                            transform: translateY(-22px) rotate3d(0, 0, 1, 45deg);
                        }

                        .dropdown-link {
                            a {
                                width: 100%;
                                position: relative;
                                
                                
                                &::after {
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 0;
                                    height: 2px;
                                    background-color: $primary-normal;
                                    transition: .5s ease;
                                }
    
                                &:hover:after{
                                    width: 100%;
                                }
                            }
                        }
                        
                    }
                }
            }
        }

        .header-left {
            a + a {
                margin-left: 1rem;
            }
        }
    }

    .header-mobile {
        display: none;
        z-index: 99;

        @include responsive(small){
            display: flex;

            justify-content: space-between;
            align-items: center;
            padding: 0.6rem 1rem;

            .logo {
                display: flex;
                align-items: center;
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }

}

.header-scroll {
    background-color: $white-light;
    box-shadow: 
    0px 51px 80px rgba(169, 80, 196, 0.08),
    0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 
    0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 
    0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
}

.links-mobile-container{
    display: none;

    @include responsive(small){
        background: $white-light;
        transform: translateX(-110%);
        width: 100%;
        height: 100vh;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        
        transition: .3s ease;
        
        .links-mobile {
            margin-top: 20%;

            li {
                position: relative;
                list-style: none;
                
                .link-mobile {
                    display: inline-block;
                    padding: 1rem;
                    width: 100%;
                    @include  typeface-highlights(h4, desktop);
                    
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        height: 2px;
                        background-color: $primary-normal;

                        transition: .3s ease;
                    }
                    
                    &:hover::after{
                        width: 100%;
                    }
                }
                
            }

            .socials {
                display: flex;
                justify-content: center;

                margin-top: 2rem;

                a {

                    &+ a {
                        margin-left: 1rem;
                    }

                    svg {
                        width: 2.25rem;
                        height: 2.25rem;
    
                        path {
                            stroke: $gray-5;
                            transition: .7s ease;
                        }
    
                        &:hover {
                            path {
                                stroke: $primary-normal;
                            }
                        }
                    }
                }
            }
        }
    }
}

.links-mobile-active {
    transform: translateX(0);
}

.dropdown-menu-active {
    opacity: 1;
    pointer-events: all;
}

a {
    @include typeface-body(p2, desktop);
    text-decoration: none;
    color: $black-normal;
    transition: .5s ease;

    &:hover{
        opacity: 0.8;
    }
}

.menu-icon {
    width: 1.5rem;
    height: 1.6rem;
    position: relative;

    &::after,
    &::before {
        content: '';
        position: absolute;

        width: 100%;
        height: 2px;
        background-color: $primary-normal;

        transition: .5s ease;
    }

    &::after {
        top: 25%;
    }

    &::before {
        bottom: 26%;
    }
}

.menu-mobile-active{
    &::after {
        top: 50%;
        transform: rotate(45deg);
    }
    
    &::before {
        top: 50%;
        transform: rotate(-225deg);
    }
}