@import "partials/_colors.scss";
@import "partials/_typography.scss";
@import "partials/_spacing.scss";
@import "partials/_icons.scss";
@import "partials/_swiper.scss";
@import "partials/_buttons.scss";
@import "partials/_animations.scss";
@import "partials/_header.scss";
@import "partials/_footer.scss";
@import "partials/_layout.scss";

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
}

svg, img {
    display: block;
}

header {
    margin-bottom: 4rem;
}
